   body {
    background-color: lightcyan;
   }
   hr {
    border-width:10px;
    background-color: lightcyan;
    border-style:dotted none none none;
    width: 15%;
    border-color: PaleTurquoise;
  }
  h1 {
    color: #1D4D4F
  }
  h3
  {
    color: #1D4D4F
  }
